.hero-unit
  %h1
    Welcome
  Signup today to use this incredible url shortener
  %p
    =link_to "Sing Up", new_user_registration_path, :class => "btn btn-primary"
.row
  .span4
    %h2
      Great Feature
    %p
      Pulvinar nascetur porttitor dis lacus adipiscing! In ut amet sit. Mauris? Porta, non ac nisi elit cursus enim non nec dis ultricies? Scelerisque? Velit non porttitor elementum placerat cum sed, turpis, penatibus? Et pulvinar porta duis etiam penatibus penatibus proin habitasse augue enim nec non, diam est magna montes, mauris hac, in sed aenean. Porttitor dignissim, urna, odio phasellus, integer? Aenean pulvinar aliquam, tristique sociis, rhoncus arcu duis rhoncus augue, vel diam scelerisque et porta nascetur parturient, turpis duis parturient, amet quis turpis enim facilisis nisi et amet? Sit eu.
  .span4
    %h2
      Great Feature
    %p
      Scelerisque, sociis parturient et scelerisque nec ridiculus, odio tristique? Ut! Augue. Eros pellentesque, quis dapibus facilisis turpis! Eu penatibus! Aenean lectus! Etiam ut? Penatibus cursus porta hac integer a, proin, magna cras aliquet odio tristique ultrices placerat sit placerat pulvinar in placerat, massa. Pulvinar cursus dolor turpis, turpis lacus, placerat mus tempor elementum! Enim? Rhoncus turpis et ut a adipiscing rhoncus nascetur massa phasellus ut, dictumst penatibus odio velit in lundium lectus odio adipiscing ridiculus parturient vel. Platea. Velit, ac cum. Vel nec tortor tristique! Placerat urna purus sociis.
  .span4
    %h2
      Great Feature
    %p 
      Mattis dapibus cum turpis mattis tortor! Urna amet urna ut integer, dictumst dictumst egestas, tincidunt! Nec nunc habitasse ac, odio aliquet et duis, scelerisque. Porta, ac tincidunt nisi, arcu, vut etiam rhoncus vel ultrices nascetur, aenean ultricies in in sagittis odio, turpis lectus risus. Arcu egestas in duis vut ultrices, ut sit lectus urna odio etiam ac ultrices augue, a habitasse, et proin magnis sagittis ut elit mauris, in elit augue? In elementum vel tortor! Lundium tincidunt. Dapibus. Quis, sagittis porta sed scelerisque, hac amet! Mattis rhoncus elementum enim.